body * {
	margin:0;
}
body{
	margin:0;
}
nav {
	position:relative;
	width:100%;
	background-color:lightgrey;
	border:1px grey solid;
	text-align: left;
}
nav ul{
	text-align:right;
}
nav li {
	position:relative;
	text-align:right;
	top:50%;
	display:inline-block;
	width:auto;
	height:10px;
	padding-right: 15px;
	transform: translateY(-50%);
	color:purple;
}
.navtitle {
	position:relative;
	top:10px;
	display:inline-block;
	text-align:left;
	font-weight: bold;
	width:auto;
	padding-left: 10px;
	max-width:30%;
	height:20px;


	}

img {
	width:30px;
	height:auto;
}
div#search {
	max-width:600px;
	width:auto;
	padding-left:100px;
	margin-top:20px;
}
label#search {
	display:block;
	top:15px;
}